@import "normalize.css";

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

/** Sections **/
.section {
  height: 100vh;
}

.one, .four, .nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.two, .three, .links {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.one {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

.links a {
  padding: 10px;
}

.feature-description {
  position: absolute;
  width: 50%;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.iphone-demo {
  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;
  align-items: center;
}

.feature-description {
  align-items: flex-start;
}

.iphone-demo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#android-robot {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%) rotate(-45deg);
} 

/** Slider Controls **/
body {
  position: relative;
}

#slider-control {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  padding: 3px;
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}

/** Overlay **/
.bg-overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

.bg-overlay {
  background-color: #1F1E34;
  opacity: 0;
}

.nav, .react-logo, .links {
  position: relative;
  z-index: 2;
  padding-top: 10px;
}

#iphone-overlay {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(0, -40%);
  z-index: 1;
}